h1
{
    color: pink; 
    font-size: 40px;
}
.body_background {
   background-image: "images(22).jpg";
    background-position: center;
    background-size: cover;
}

#myCanvas{

    background-color:antiquewhite;
    border-radius: 5px;
    border-width: 10px;
    border-style: ridge;
}
